<section class="main">
  <div class="container">
    <h1 class="main-title">
      Создадим сад <br> в вашем доме и офисе
    </h1>
    <p class="main-description">
      Если в большом городе вы скучаете по природе, ничто не мешает
      вам превратить в оазис квартиру или офис. И мы поможем вам это сделать!
    </p>
  </div>
</section>

<section class="offers">
  <div class="container">
    <div class="offer offer-inst">
      <h3 class="offer-title">Получи скидку 10% в нашем инстаграме!</h3>
      <div class="offer-content">
        <div class="offer-image">
          <img src="/assets/images/pages/main/offer1.png" alt="flower">
        </div>
        <div class="inner-content">
          <p class="offer-description">
            Подпишись на наш аккаунт и напиши в direct “хочу промокод”
          </p>
          <div class="offer-btn">
            <a href="#" class="btn">Получить промокод</a>
          </div>
        </div>
      </div>
    </div>
    <div class="offer offer-collection">
      <h3 class="offer-title">Новая коллекция керамических кашпо в наличии</h3>
      <div class="offer-content">
        <div class="offer-image">
          <img src="/assets/images/pages/main/offer2.png" alt="flower">
        </div>
        <div class="offer-btn">
          <a routerLink="/catalog" class="btn">В каталог</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-products">
  <div class="container">
    <div class="carousel-header">
      <h2 class="carousel-title">Лучшие предложения месяца</h2>
      <div class="carousel-arrows">
        <a class="move-backward" (click)="owlCar.prev()">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.5561 15C10.4013 15 10.2465 14.9435 10.1243 14.8224L4.8127 9.55746C3.94915 8.70151 3.94915 7.29647 4.8127 6.44052L10.1243 1.17563C10.3606 0.941456 10.7516 0.941456 10.9879 1.17563C11.2241 1.40981 11.2241 1.7974 10.9879 2.03158L5.67624 7.29647C5.2852 7.68407 5.2852 8.31392 5.67624 8.70151L10.9879 13.9664C11.2241 14.2006 11.2241 14.5882 10.9879 14.8224C10.8657 14.9354 10.7109 15 10.5561 15Z"
              fill="#202B21"/>
          </svg>
        </a>
        <a class="move-forward" (click)="owlCar.next()">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.44392 1C5.59871 1 5.75349 1.05652 5.87569 1.17765L11.1873 6.44254C12.0508 7.29849 12.0508 8.70353 11.1873 9.55948L5.87569 14.8244C5.63944 15.0585 5.2484 15.0585 5.01215 14.8244C4.7759 14.5902 4.7759 14.2026 5.01215 13.9684L10.3238 8.70353C10.7148 8.31593 10.7148 7.68608 10.3238 7.29849L5.01215 2.0336C4.7759 1.79942 4.7759 1.41182 5.01215 1.17765C5.13435 1.0646 5.28914 1 5.44392 1Z"
              fill="#202B21"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="carousel-items">
      <owl-carousel-o [options]="customOptions" #owlCar>
        <ng-template carouselSlide *ngFor="let product of products">
          <product-card [product]="product"></product-card>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section class="info" id="delivery">
  <div class="container">
    <h2 class="info-title">
      Доставка и оплата
    </h2>
    <div class="info-item info-delivery">
      <img class="info-image" src="/assets/images/pages/main/mainDelivery.png" alt="Delivery">
      <ol class="info-text">
        <li class="info-text-main">
          Доставка курьером (по г. Минску) - 10 BYN
          <p class="info-text-description">
            На следующий день после оформления заказа
          </p>
        </li>
        <li class="info-text-main">
          Самовывоз - 0 BYN
          <p class="info-text-description">Пункт выдачи товаров: г. Минск, ул. Калиновского 61, подъезд 1, офис 6</p>
        </li>
      </ol>
    </div>
    <div class="info-item info-payment">
      <img class="info-image" src="/assets/images/pages/main/mainPayment.png" alt="Payment">
      <ol class="info-text">
        <li class="info-text-main">Наличный расчет при получении</li>
        <li class="info-text-main">Безналичный расчет при получении</li>
        <li class="info-text-main">Оплата банковской картой в интернет-магазине</li>
      </ol>
    </div>
  </div>
</section>

<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Отзывы о Home decor</h2>
    <div class="reviews-carousel">
      <owl-carousel-o [options]="customOptionsReviews" #owlRev>
        <ng-template carouselSlide *ngFor="let review of reviews">
          <div class="review-card">
            <div class="review-card-header">
              <div class="review-card-image"
                   style="background-image: url('/assets/images/pages/main/reviews/{{review.image}}')"></div>
              <h3 class="review-card-name">{{review.name}}</h3>
            </div>
            <div class="review-card-text">
              {{review.text}}
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>

      <div class="reviews-arrows">
        <a class="move-backward" (click)="owlRev.prev()">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.5551 15C10.4003 15 10.2455 14.9435 10.1233 14.8224L4.81172 9.55746C3.94818 8.70151 3.94818 7.29647 4.81172 6.44052L10.1233 1.17563C10.3596 0.941456 10.7506 0.941456 10.9869 1.17563C11.2231 1.40981 11.2231 1.7974 10.9869 2.03158L5.67526 7.29647C5.28423 7.68407 5.28423 8.31392 5.67526 8.70151L10.9869 13.9664C11.2231 14.2006 11.2231 14.5882 10.9869 14.8224C10.8647 14.9354 10.7099 15 10.5551 15Z"
              fill="#202B21"/>
          </svg>
        </a>
        <a class="move-forward" (click)="owlRev.next()">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.44392 1C5.59871 1 5.75349 1.05652 5.87569 1.17765L11.1873 6.44254C12.0508 7.29849 12.0508 8.70353 11.1873 9.55948L5.87569 14.8244C5.63944 15.0585 5.2484 15.0585 5.01215 14.8244C4.7759 14.5902 4.7759 14.2026 5.01215 13.9684L10.3238 8.70353C10.7148 8.31593 10.7148 7.68608 10.3238 7.29849L5.01215 2.0336C4.7759 1.79942 4.7759 1.41182 5.01215 1.17765C5.13435 1.0646 5.28914 1 5.44392 1Z"
              fill="#202B21"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A60fa1d48aff7a73391bf5d0ddfe4b2b3922b0fe49b2bef2886a2f980b07c00ef&amp;source=constructor"
    width="100%" height="500" frameborder="0"></iframe>
</section>
